@import "./assets/style/varialable.scss";

.AppRouter {
    height: 100vh;
}

.AppScreen {
    height: 100%;
    padding-top: 90px;
}

.Landing {
    padding-top: 190px;

    .slick-dots.slick-dots-bottom {
        li {
            width: 6px;
            height: 6px;
            margin: 0 7.5px;

            button {
                border-radius: 3px;
                width: 100%;
                height: 100%;
                background-color: #d9d9d9;
            }
        }
        li.slick-active {
            width: 50px;

            button {
                background-image: linear-gradient(180deg, #ff3030 0.01%, #ff8d29 100%);
                background-color: transparent;
            }
        }
    }
}

.popup-animation-enter {
    opacity: 0;
}
.popup-animation-enter-active {
    opacity: 1;
    transition: opacity 0.5s;
}
.popup-animation-exit {
    opacity: 1;
}
.popup-animation-exit-active {
    opacity: 0;
    transition: opacity 0.5s;
}

@keyframes open-popup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes close-popup {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
